@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cells-size($width, $height, $bg-color, $border-color) {
  width: $width;
  height: $height;
  background-color: $bg-color;
  border: 1px solid $border-color;
  box-sizing: border-box;
}
